<main class="main-container">
  <nav class="nav">
    <h3>Nav</h3>
    <ul>
      <li>Nav 1</li>
      <li>Nav 2</li>
      <li>Nav 3</li>
    </ul>
  </nav>
  <section class="content">
    <div id="first">
      <div class="phonebook" appResizable [rDirections]="['right']" [rFlex]="true">
        <div class="overflow-y-scroll">
          <div class="phonebook__main">
            <h1>phonebook</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
            </p>

          </div>
          <div class="phonebook__selected" appResizable [rDirections]="['top']" [rFlex]="true">
            <h1>phonebook selected</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
            </p>

          </div>
        </div>

      </div>
      <div class="report-info">
        <h1>report-info</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
        </p>
      </div>

    </div>
    <div id="second" appResizable [rDirections]="['top']" [rFlex]="true">
      <div class="documents" appResizable [rDirections]="['right']" [rFlex]="true">
        <h1>Documents</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
        </p>

      </div>
      <div class="viewer">
        <h1>viewer</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
        </p>

      </div>

    </div>
    <div id="third">
      #3
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae eius quod quos saepe unde dignissimos expedita debitis placeat, at voluptatem eaque cum, hic tenetur ullam tempora reiciendis quidem atque.
    </div>
  </section>
</main>
